@import 'normalize.css';



:root {

}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1b1b1b;
}

body {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeSpeed;
}

.container {
    width: 1272px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}