.header-help-wrapper {
    min-width: 1300px;
}

.header {
    min-width: 1300px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-help-wrapper {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

.header-help {
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.header-help-list {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

.header-help-items {
    margin-left: 20px; 
}

.header-help-items-link {
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.16px;
    line-height: 16.8px;
    font-size: 1.4rem;
    font-weight: 400;
}

.divider {
    padding: 0 8px;
}

.active {
    font-weight: bold;
}


// header menu

.header-menu-wrapper {
    position: relative;
    // top: 0;
    // right: 0;
    // left: 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 72px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.header-left {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 28px;
}

.header-logo-link {
    display: flex;
    align-items: center;
}

.header-segmentation-list {
    display: flex;
    list-style: none;
    align-items: center;
    height: 80px;
    &:hover .header-popper {
        display: flex;
    }
}

.header-segmentation-link {
    padding: 0 16px;
}

.header-segmentation-text {
    color: rgb(27, 27, 27);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 3px 0;
    &:hover {
        border-bottom: 3px solid #378694;
    }
}

.header-right {
    display: inline-flex;
    float: inline-end;
    height: 100%;
}

.header-btns {
    display: flex;
    justify-content: center;
}

.header-btns-list {
    display: flex;
    list-style: none;
}

.header-btns-item {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    padding-top: 5px;
}

.header-btns-item:first-child {
    padding-top: 9px;
}

// header popper

.header-popper {
    position: absolute;
    z-index: 1;
    top: 72px;
    left: 0;
    width: 100%;
    justify-content: center;
    display: none;
    background-color: white;
}

.popper-wrapper {
    display: flex;
    padding-top: 22px;
}

.popper-left {
    width: 73.3766%;
    display: flex;
}

.popper-left-block {
    width: 25%;
    display: block;
}

.left-type {
    padding-right: 30px;
    margin-bottom: 20px;
}

.popper-text-content {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    line-height: 1.2;
    color: rgb(27, 27, 27);
    margin-bottom: 20px;
    display: block;
}

.separator {
    width: 18px;
    padding-right: 20px;
    border-right: 1px solid #dadada;
    margin-right: 40px;
}

.popper-right-block {
    margin-bottom: 40px;
}

.segmentation-title {
    color: #1b1b1b;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
}