.no-select {
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Safari 3.1+ */
    -khtml-user-select: none; /* Konqueror 4.0+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* Internet Explorer 10+ */
    user-select: none; /* Standard syntax */
}  

.card-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-left {
    width: 673px;
}

.img-list {
    width: 134px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.main-img {
    width: 519px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.img-list {
    padding: 5px 0 0 5px;
}

.img-item-wrapper {
    box-sizing: content-box;
    width: 45px;
    height: 45px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: transparent;
    display: block;
}

.img-item {
    width: 45px;
    height: 45px;
}

.next-button, .prev-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background-color: rgba(246, 246, 246, 0.75);
    cursor: pointer;
    
    &:hover {
        background-color: #a7a8a8;
        svg {
            path {
                color: #f3f3f3;
            }
        }
    }
    svg {
        path {
            color: #757575;
        }
    }
}

.next-button {
    right: 0;
}

.img-index-wrapper {
    margin-top: 10px;
    color: rgb(125, 125, 125);
    font-size: 13px;
    letter-spacing: 0.16px;
    line-height: 15.6px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.describe {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 20px;
}

.describe-code-text {
    color: rgb(125, 125, 125);
    letter-spacing: 0.14px;
    line-height: 16.156px;
    font-size: 14px;
}

.separator {
    border-top: 1px solid rgb(218, 218, 218);
}

.describe-title {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
}

.describe-item-wrapper {
    height: 62px;
    display: flex;
    align-items: center;
}

.open-arrow {
    background-image: url('./openArrow.svg');
    height: 24px;
    width: 24px;
    background-size: 24px 24px;
    cursor: pointer;
}

.chevron_updown-rotateUp {
    animation-duration: 0.2s;
    animation-name: upToDown;
    animation-fill-mode: forwards
}

.chevron_updown-rotateDown {
    animation-duration: 0.2s;
    animation-name: downToUp;
    animation-fill-mode: forwards
}

@keyframes upToDown {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes downToUp {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.describe-popper {
    display: none;
    padding: 20px;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.16px;
    color: rgb(27, 27, 27);
}