.category-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.category-card-container {
  .category-card-image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
    }
  }

  .category-card-title {
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}