.img-block {
    display: flex;
}

.img {
    width: 100%;
}

.title {
    margin: 20px 0 8px 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.36px;
    line-height: 21.6px;
}

.description {
    font-weight: normal;
    letter-spacing: .01em;
    line-height: 1.2;
    font-size: 16px;
}